# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# VS Code
.vscode/

# Uploaded CSV files
uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/

# SQLite
*.sqlite3